 <footer class="footer">
      <div class="container" id="text">
        <p>&copy; 2015 MyRecipes</p>
      </div>

      <div class="col-md-1 twitter"><a href="https://twitter.com/CharlieLynchlcl" class="twitter-follow-button" data-size="large" data-show-screen-name="false" data-show-count="false">Follow</a><script async src="//platform.twitter.com/widgets.js" charset="utf-8"></script></div>

      <div class="fb-like col-md-1" data-href="https://www.facebook.com/charlie.lynch.10.html" data-width="87px" data-layout="button_count" data-action="like" data-size="large" data-show-faces="true" data-share="true"></div>

      <nav>
    <ul>
      <li><%= link_to "About",   '#' %></li>
    </ul>
  </nav>
 </footer>